<h1>Listing properties</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Bedrooms</th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.name %></td>
    <td><%= property.bedroom_count %></td>
    <td>
        <%= link_to property, :class => "btn" do %>
            <i class="icon-info-sign"></i> Show
        <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to root_path, :class => 'btn' do %>
  <i class="icon-home"></i> Home Page
<% end %>

<br />

